<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xf.dao.TypeMapper">
    <select id="SelectTypeList" resultType="RoomType">
        select * from 房型信息
    </select>

</mapper>